/*
  #202020 => Preto / Texto PRIMÁRIO
  #FFFFFF => Branco / Texto SECUNDÁRIO
  #FBFBFB => Branco / BACKGROUND
  #CCCCCC => Cinza / Borda CARD
  #D835C5 > #A11CF3 => GRADIENTE / PRIMÁRIO
*/

.gradiente {
  background-image: linear-gradient(to right, #A11CF3, #D835C5);
}

.main_container {
  flex-direction: column;
}

/* Mensagem */
.mensagem {
  background-color: #202020;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: center;
  align-items: center;
}

.mensagem_titulo {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
}

.mensagem_botao {
  border: 1px solid #D835C5;
  margin-left: 18px;
  font-size: 16px;
  color: #FFFFFF;
  width: 235px;
  height: 43px;
}

/* Arrumar */
.mensagem_botao:active {
  opacity: 1;
  border: 1px solid #A11CF3;
  background-image: linear-gradient(to right, #D835C5, #A11CF3);
}

.botao_close {
  background-color: #202020 !important;
  border: none !important;
  font-weight: 600;
  font-size: 15px;
  color: #FFFFFF;
  display: none !important;
}

/* Area do logo */
.area_logo {}

.logo {
  background-image: url("/logo_web.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 146px;
  height: 54px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.borda_gradiente {
  height: 1px;
}

/* catalogo */
.catalogo {
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 150px;
  padding-right: 150px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.catalogo_titulo {
  font-weight: 700;
  font-size: 28px;
  color: #202020;
}

.catalogo_span_gradiente {
  height: 4px;
  width: 34px;
  border-radius: 10px;
}

/* Resultados */
.resultados {
  font-size: 24px;
  padding-left: 150px;
  padding-right: 150px;
}

.resultados_titulo {
  margin-top: 34px;
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 24px;
  color: #202020;
}

/* Item exibido no resultado */
.card_col {}

.card_container {
  border-radius: 8px;
  width: 18rem;
}

.cardtext_separator {
  background-color: #CCCCCC;
  border-radius: 8px;
  width: 1px;
  height: 20px;
}

.card_texto {
  font-weight: 600;
  font-size: 10px;
  color: #202020;
  margin-right: 8px;
}

.card_icone_botao {
  margin-left: 11px;
}

/* Rodape */
.rodape {
  margin-top: 48px;
  padding-top: 21.5px;
  padding-bottom: 21.5px;
  padding-left: 200px;
  padding-right: 200px;
  background-color: #E9E9E9;
  gap: 36px;
  justify-content: center;
  align-items: center;
}


.rodape_lista_item {
  font-weight: 400;
  font-size: 16px;
  color: #322E2E;
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .main_container {
    flex-direction: column-reverse;
  }

  .logo {
    background-image: url("/logo_mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 91px;
    height: 34px;
  }

  .mensagem {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 14px;
    padding-right: 14px;
    flex-direction: column;
    gap: 18px;
  }
  
  .botao_close {
    display: block !important;
  }  

  .catalogo_titulo {
    font-size: 24px;
  }  

  .resultados {
    font-size: 20px;
  }
  
  .catalogo, .resultados, .rodape {
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .rodape_lista_item {
    font-size: 14px;
  }

  .rodape {
    flex-direction: column !important;
    gap: 12px;
    justify-content: center;
    align-items: start;
  }

  .mensagem_titulo {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .catalogo, .resultados, .rodape {
    padding-left: 14px;
    padding-right: 14px;
  }
}
